## Assignment

In [2]:
import yfinance as yf 
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

Task 1

In [3]:
df = yf.download('MSFT')

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed

In [13]:
df = df.reset_index()

In [19]:
df.columns = df.columns.droplevel(1)

In [27]:
df.head();

In [29]:
df = df.set_index('Date');

In [31]:
df = df.loc['2017-01-01':'2023-01-01']

In [38]:
df.head(2)

Price           Close       High        Low       Open    Volume
Date
2017-01-03  56.601139  56.836297  56.194131  56.791075  20694100
2017-01-04  56.347874  56.754881  56.185071  56.510677  21340000

Task 2

In [40]:
df['High'].max()

340.1485931428853

Task 3

In [61]:
df[df['Low']== 56.031317888977405]

Price           Close       High        Low       Open    Volume
Date
2017-01-12  56.628262  57.342786  56.031318  57.035269  20968200

Task 4

In [65]:
df[df['High']==340.1485931428853]

Price            Close        High         Low        Open    Volume
Date
2021-11-22  330.576508  340.148593  330.304133  335.236085  31031100