In [7]:
pip install investpy

Collecting investpy
  Downloading investpy-1.0.8.tar.gz (4.4 MB)
     ---------------------------------------- 0.0/4.4 MB ? eta -:--:--
     --------------------- ------------------ 2.4/4.4 MB 12.3 MB/s eta 0:00:01
     -------------------------------------- - 4.2/4.4 MB 14.8 MB/s eta 0:00:01
     -------------------------------------- - 4.2/4.4 MB 14.8 MB/s eta 0:00:01
     ---------------------------------------- 4.4/4.4 MB 5.7 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: Unidecode>=1.1.1 in c:\users\mdamb\anaconda3\lib\site-packages (from investpy) (1.3.8)
Requirement already satisfied: setuptools>=41.2.0 in c:\users\mdamb\anaconda3\lib\site-packages (from investpy) (75.1.0)
Requirement already satisfied: numpy>=1.17.2 in c:\users\mdamb\anaconda3\lib\site-packages (from investpy) (1.26.4)
Requirement already satisfied: pandas>=0.25.1 in c:\users\mdamb\anaconda3\lib\site-packages (from investpy) (2.2.2)
Requirement already satisfied: lxml>=4.4.1 in c:\users\mdamb\anaconda3\lib\site-packages (from investpy) (5.2.1)
Requirement already satisfied: requests>=2.22.0 in c:\users\mdamb\anaconda3\lib\site-packages (from investpy) (2.32.3)
Requirement already satisfied: pytz>=2019.3 in c:\users\mdamb\anaconda3\lib\site-packages (from investpy) (2024.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mdamb\anaconda3\lib\site-packages (from pandas>=0.25.1->investpy) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mdamb\anaconda3\lib\site-packages (from pandas>=0.25.1->investpy) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mdamb\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mdamb\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mdamb\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mdamb\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\mdamb\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25.1->investpy) (1.16.0)
Building wheels for collected packages: investpy
  Building wheel for investpy (setup.py): started
  Building wheel for investpy (setup.py): finished with status 'done'
  Created wheel for investpy: filename=investpy-1.0.8-py3-none-any.whl size=4481627 sha256=4a3591ef6b1d22147de0dc847c7c7d07f0c47958f7b940a358d74a166028802e
  Stored in directory: c:\users\mdamb\appdata\local\pip\cache\wheels\dd\f4\e0\4807b8928ec08b376e1e1f1e1cc597a747cdd8356c37ee618f
Successfully built investpy
Installing collected packages: investpy
Successfully installed investpy-1.0.8
Note: you may need to restart the kernel to use updated packages.

In [13]:
import yfinance as yf
import investpy as invest
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [31]:
usd = yf.download('DX-Y.NYB')

[*********************100%***********************]  1 of 1 completed

In [35]:
usd.head()

Price            Close        High         Low        Open   Volume
Ticker        DX-Y.NYB    DX-Y.NYB    DX-Y.NYB    DX-Y.NYB DX-Y.NYB
Date
1971-01-04  120.529999  120.529999  120.529999  120.529999        0
1971-01-05  120.519997  120.519997  120.519997  120.519997        0
1971-01-06  120.489998  120.489998  120.489998  120.489998        0
1971-01-07  120.550003  120.550003  120.550003  120.550003        0
1971-01-08  120.529999  120.529999  120.529999  120.529999        0

In [25]:
gold = yf.download('GC=F')

[*********************100%***********************]  1 of 1 completed

In [39]:
gold.head()

Price            Close        High         Low        Open Volume
Ticker            GC=F        GC=F        GC=F        GC=F   GC=F
Date
2000-08-30  273.899994  273.899994  273.899994  273.899994      0
2000-08-31  278.299988  278.299988  274.799988  274.799988      0
2000-09-01  277.000000  277.000000  277.000000  277.000000      0
2000-09-05  275.799988  275.799988  275.799988  275.799988      2
2000-09-06  274.200012  274.200012  274.200012  274.200012      0

In [200]:
ir = pd.read_csv('IR.csv')

In [202]:
ir = ir.rename(columns = {'observation_date':'Date','DFEDTARU':'IR'})

In [204]:
ir['Date'] = pd.to_datetime(ir['Date'])

In [206]:
ir.dtypes

Date    datetime64[ns]
IR             float64
dtype: object

In [208]:
ir = ir.set_index('Date')

In [153]:
gold.columns = gold.columns.droplevel(1)
usd.columns = usd.columns.droplevel(1)

In [176]:
usd = usd.loc['2010-01-01':'2020-01-01']
gold = gold.loc['2010-01-01':'2020-01-01']

In [210]:
ir = ir.loc['2010-01-01':'2020-01-01']

In [224]:
ir = ir.iloc[:-1]

In [240]:
x = pd.merge(gold, usd, left_index=True, right_index=True)

In [244]:
x.columns = x.columns.str.replace('_x', '_g').str.replace('_y', '_u')

In [250]:
df = pd.merge(x,ir,left_index=True, right_index=True)

In [266]:
df[['Open_g', 'Open_u']].corr()

          Open_g    Open_u
Open_g  1.000000 -0.531548
Open_u -0.531548  1.000000

In [270]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [278]:
df[['Open_g', 'Open_u', 'IR']] = sc.fit_transform(df[['Open_g', 'Open_u', 'IR']])

In [ ]:
ax = df[['Open_g', 'Open_u']].plot(figsize=(12, 6), xlim=('2015-01-01', '2020-01-01'))
df['IR'].plot(kind='bar', ax=ax, color='orange', alpha=0.5)
plt.show()